/**
 * Provides the customized layout styles for the Stephanie Ryall website
 *
 * All customizations to the theme should be made within this file.
 *
 * @package    WordPress
 * @subpackage Stephanie Ryall
 * @version    0.1
 */
@import url( 'https://fonts.googleapis.com/css?family=Asap+Condensed|Open+Sans' );

h1,
.widget-title {
	font-family: 'Asap Condensed', sans-serif;
	font-weight: 400;
}

h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #c61127;
	text-decoration: none;
}

a:focus, a:hover {
	text-decoration: underline;
}

body {
	background: #fff;
}

.site-inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 0 0;
	padding: 5rem 0 0;
}

.home .site-inner {
	max-width: 100%;
	padding: 0;
}

.site-header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d1d7e7+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #d1d7e7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#d1d7e7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#d1d7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d7e7',GradientType=0 ); /* IE6-9 */
	border: none;
	min-height: 0;
}

.site-header .custom-logo {
	display: block;
	margin: 0 auto;
	max-width: 800px;
	width: 65%;
}

.site-header > .wrap {
	width: 100%;
	max-width: 100%;
	margin: 0;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0;
}

.nav-primary {
	border: none;
	background: #0a2566;
}

.nav-primary a {
	text-transform: uppercase;
	font-size: 16px;
	font-size: 1.6rem;
	color: #fff;
}

.nav-primary a:hover,
.nav-primary a:focus {
	background: #c71227;
	color: #fff;
}

.nav-primary ul.menu {
	text-align: center;
}

.nav-primary .sub-menu a {
	background: #0a2566;
	color: #ffffff;
}

.nav-primary .sub-menu a:hover,
.nav-primary .sub-menu a:focus {
	background: #c71227;
	color: #ffffff;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .current-menu-ancestor > a {
	background: #c71227;
	color: #ffffff;
	text-decoration: none;
}

h1.entry-title,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.widget-title,
.archive-title,
.entry-title > a {
	clear: both;
	color: #0a2566;
}

h1.entry-title,
h1.archive-title {
	font-size: 60px;
	font-size: 6rem;
}

.home .content,
.site-container {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1d7e7+0,ffffff+45,ffffff+55,ffffff+55,d1d7e7+100 */
	background: #d1d7e7; /* Old browsers */
	background: -moz-linear-gradient(top, #d1d7e7 0%, #ffffff 45%, #ffffff 55%, #ffffff 55%, #d1d7e7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d1d7e7 0%,#ffffff 45%,#ffffff 55%,#ffffff 55%,#d1d7e7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d1d7e7 0%,#ffffff 45%,#ffffff 55%,#ffffff 55%,#d1d7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d7e7', endColorstr='#d1d7e7',GradientType=0 ); /* IE6-9 */
}

.home .site-container {
	background: none;
}

.entry-content h2,
h2.entry-title {
	font-size: 30px;
	font-size: 3rem;
}

.entry-content h3 {
	font-size: 25px;
	font-size: 2.5rem;
	font-weight: 400;
	color: #ffffff;
	background-color: #0a2566;
	padding: 6px;
	border-radius: 6px;
	display: inline-block;
}

.entry-content img.size-medium,
.entry img.entry-image,
.content img.wp-post-image {
	-webkit-box-shadow: 0 0 15px rgba(10, 37, 102, 0.4);
	-moz-box-shadow: 0 0 15px rgba(10, 37, 102, 0.4);
	box-shadow: 0 0 15px rgba(10, 37, 102, 0.4);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 4px solid #fff;
}

.entry-content img.alignright {
	margin-left: 50px;
	margin-left: 5rem;
	clear: right;
}

.archive .content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: stretch;
}

.archive .content .archive-description {
	flex-basis: 100%;
}

.archive .content article {
	flex-basis: 420px;
	min-width: 240px;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
	padding: 40px;
	border-bottom: 1px solid #666;
}

.archive .content article.testimonial {
	text-align: center;
}

.archive .content article.team-member {
	border: none;
}

/**
 * Footer styles
 */
.site-footer {
	padding: 15px;
	padding: 1.5rem;
	background-color: #0a2566;
	width: 100%;
	max-width: 100%;
	border: none;
}

.site-footer > .wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.site-footer .footer-widgets {
	display: block;
	margin: 0;
	padding: 10px 25px;
	padding: 1rem 2.5rem;
	color: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 24px;
	line-height: 2.4rem;
	text-transform: uppercase;
	padding-top: 30px;
	padding-top: 3rem;
}

.site-footer .footer-widgets a {
	text-decoration: underline;
	color: #fff;
}

.site-footer .footer-widgets a:hover,
.site-footer .footer-widgets a:focus {
	text-decoration: none;
	color: #fff;
}

.site-footer .footer-widgets-1 {
	padding-left: 0;
	padding-top: 10px;
	padding-top: 1rem;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 250px;
	width: 25%;
	min-width: 25%;
}

.footer-widgets-1 img {
	width: 75%;
	max-width: 75%;
	height: auto;
}

.site-footer .footer-widgets-2 {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 300px;
	width: 30%;
	min-width: 30%;
}

.site-footer .footer-widgets-2 .widget,
.site-footer .footer-widgets-3 .widget {
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
}

.site-footer .footer-widgets-3 {
	padding-right: 0;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 400px;
	width: 40%;
	min-width: 40%;
}

.footer-phone {
	font-size: 24px;
	font-size: 2.4rem;
}

.white-spider-copyright {
	text-transform: none;
}

/**
 * Blog archive styles
 */
/*.blog .content,
.post-type-archive-testimonial .content {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}*/

/*.blog .archive-description,
.post-type-archive-testimonial .archive-description,*/
.post-type-archive-team-member .archive-description {
	flex-grow: 3;
	flex-shrink: 3;
	width: 100%;
	padding: 30px;
	margin: 0;
	padding-bottom: 0;
}

/*.blog .content .entry,
.post-type-archive-testimonial .content .entry {
	flex-basis: 250px;
	width: 33.3333%;
	flex-grow: 1;
	padding: 30px;
	margin: 0;
}*/

.blog .content .entry .alignleft {
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	margin-bottom: 3rem;
}

.pagination {
	clear: both;
	width: 100%;
	text-align: center;
}

.pagination li a,
.pagination .wpv-archive-pagination-nav-links-item-current span {
	background-color: #0a2566;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 4px;
	padding: 8px 12px;
	font-size: 16px;
	font-size: 1.6rem;
}

.pagination .wpv-archive-pagination-nav-links-item-current span {
	background: #c71227;
}

/**
 * Team Member Styles
 */
.team-member-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.team-member-list .team-member {
	flex-basis: 250px;
	flex-grow: 1;
	width: 25%;
	min-width: 200px;
	max-width: 300px;
}

.team-member-photo {
	position: relative;
}

.team-member-photo img {
	width: 100%;
	max-width: 100%;
	display: block;
}

.team-member-photo figcaption {
	width: 100%;
	padding: 8px;
}

.team-member-title {
	font-style: italic;
	color: #666;
}

.team-member-list .team-member-title {
	font-size: 12px;
	font-size: 1.2rem;
}

/**
 * Styles for the IDX listings
 */
.dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-data .dsidx-primary-data .dsidx-price-sold {
	box-sizing: content-box;
}

#dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-price-sold {
	color: #ffffff;
}

/**
 * Front page styles
 */
.home-feature > .wrap {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
}

.home-feature .attachment-main-feature,
.home-feature .attachment-full-size {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.widget_sp_image h4.widget-title {
	display: none;
}

.home-content,
.home-secondary,
.home-footer {
	padding: 65px 0;
	padding: 6.5rem 0;
}

.home-secondary {
	background-color: transparent;
	padding-top: 0;
	padding-bottom: 0;
}

.home-secondary .widget-title,
.home-footer .widget-title {
	font-size: 60px;
	font-size: 6rem;
	text-align: center;
	flex-shrink: 1;
	width: 100%;
}

.featured-content .widget-wrap,
.featured-testimonials,
.featured-testimonials .featured-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.featured-content .entry {
	width: 33.3333%;
	flex: 1 0 250px;
	padding: 10px;
	min-width: 30%;
	vertical-align: top;
	margin-bottom: 0;
}

.featured-testimonials .featured-content {
	width: 50%;
	flex: 1 0 350px;
	padding: 10px;
	min-width: 50%;
	vertical-align: top;
	margin-bottom: 0;
}

.featured-content .entry-title,
.featured-content .entry-title > a,
.featured-listing h4,
.featured-listing h4 > a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px !important;
	font-size: 1.8rem !important;
	color: #c61127;
	text-decoration: none;
}

.featured-content .entry-title > a:hover,
.featured-content .entry-title > a:focus,
.featured-listing h4 > a:hover,
.featured-listing h4 > a:focus {
	text-decoration: underline;
	color: #333;
}

.featured-content .entry,
.featured-listing {
	font-size: 14px;
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
}

.featured-content .entry .entry-image,
.featured-testimonials .entry-image img {
	width: 100%;
	max-width: 100%;
	height: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.featured-testimonials .entry-image {
	width: 25%;
	flex: 1 0 150px;
	padding: 10px;
	min-width: 25%;
	vertical-align: top;
	margin: 0;
}

.featured-testimonials blockquote {
	width: 50%;
	flex: 1 0 200px;
	padding: 10px;
	min-width: 70%;
	vertical-align: top;
	margin: 0;
}

.featured-testimonials blockquote:before {
	content: '';
	display: none;
}

.featured-testimonials blockquote .testimonial-attribution:before {
	content: '\007E';
}

.home-secondary > .wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: stretch;
}

.home-secondary .widget {
	flex-basis: 320px;
	width: 50%;
	flex-grow: 1;
	flex-shrink: 1;
	box-shadow: 0 0 15px rgba(10, 37, 102, 0.4);
	margin: 20px;
	padding: 0;
	border: 4px solid #fff;
	border-radius: 20px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1d7e7+0,ffffff+45,ffffff+55,ffffff+55,d1d7e7+100 */
	background: #d1d7e7; /* Old browsers */
	background: -moz-linear-gradient(top, #d1d7e7 0%, #ffffff 45%, #ffffff 55%, #ffffff 55%, #d1d7e7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d1d7e7 0%,#ffffff 45%,#ffffff 55%,#ffffff 55%,#d1d7e7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d1d7e7 0%,#ffffff 45%,#ffffff 55%,#ffffff 55%,#d1d7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d7e7', endColorstr='#d1d7e7',GradientType=0 ); /* IE6-9 */
}

.home-secondary .widget-title {
	background: #0a2566;
	color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-size: 40px;
	font-size: 4rem;
	text-align: left;
	padding: 5px 15px;
}

.home-secondary .widget.featured-content .widget-wrap {
	display: block;
}

.home-secondary .widget.featured-content .entry,
.home-secondary .widget.dsidx-widget-listings .dsidx-panel {
	width: 100%;
	padding: 20px
}

.home-content h1.entry-title {
	clear: none;
}

img.home-content-feature {
	margin-top: 15px;
	margin-top: 1.5rem;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;
	margin-left: 15px;
	margin-left: 1.5rem;
}

@media all and (max-width: 1300px) {
	.site-inner {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media all and (max-width: 768px) {
	.site-footer .footer-widgets-1,
	.site-footer .footer-widgets {
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 20px;
		text-align: center;
	}
	
	.site-footer .simple-social-icons ul {
		float: none;
		text-align: center;
	}

	.site-footer .simple-social-icons ul li {
		float: none;
		display: inline-block;
	}

	.site-footer .footer-widgets-1 img {
		max-width: 75%;
		display: block;
		margin: 12px auto;
		float: none;
	}
}

@media all and (max-width: 640px) {
	.site-header .custom-logo {
		width: 80%;
	}

	.site-header > .wrap {
		background: none !important;
	}
}